<div class="{% if section.settings.include_margins %}colored{% endif %}">
  {%- for block in section.blocks -%}
    {% render block %}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "paquito test section",
  "tag": "section",
  "class": "test-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "is_colored",
      "default": true,
      "label": "label de paquito"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "preset name de paquito"
    }
  ]
}
{% endschema %}
